<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
 <Fragment>
  <DirectoryRef Id="INSTALL_ROOT">
   <Component Id="SerikaDocumentAssociations" Guid="CF9390E9-79EA-48CC-B920-7813D058E6E8">
    <RegistryValue Root="HKCU" Key="Software\Classes\Serika.PhotoEdit.Document" Value="Serika PhotoEdit Document" Type="string" KeyPath="yes"/>
    <RegistryValue Root="HKCU" Key="Software\Classes\Serika.PhotoEdit.Document\DefaultIcon" Value="[INSTALL_ROOT]bin\SerikaPhotoEdit.exe,0" Type="string"/>
    <RegistryValue Root="HKCU" Key="Software\Classes\Serika.PhotoEdit.Document\shell\open\command" Value="&quot;[INSTALL_ROOT]bin\SerikaPhotoEdit.exe&quot; &quot;%1&quot;" Type="string"/>
    <RegistryValue Root="HKCU" Key="Software\Classes\.spe" Value="Serika.PhotoEdit.Document" Type="string"/>
    <RegistryValue Root="HKCU" Key="Software\Classes\.speb" Value="Serika.PhotoEdit.Document" Type="string"/>
    <RegistryValue Root="HKCU" Key="Software\Classes\.psd" Value="Serika.PhotoEdit.Document" Type="string"/>
    <RegistryValue Root="HKCU" Key="Software\Classes\.psb" Value="Serika.PhotoEdit.Document" Type="string"/>
   </Component>
  </DirectoryRef>
 </Fragment>
</Wix>
